a:link {
    text-decoration: none;
    color: black;
}
a:visited {
    
}
a:hover {
    text-decoration: underline;
    color: aquamarine;
}
a:active {
    text-decoration: underline;
    color: aquamarine;
}
